<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping Site</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="angularscript.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="jqueryscript.js"> </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>

    <input type="button" style="float:left;width:100px" class="w3-btn w3-black showCart"  value="View cart"><br>

    <div class="w3-container" ng-app="myApp" ng-controller="myCtrl">




      <div class="item-details">


        <table class="displayTable w3-table w3-bordered w3-striped">

          <tr>
            <th>Item </th>
            <th>Model</th>
            <th>Brand</th>
            <th>Price</th>
          </tr>

          <tr  ng-repeat="phone in phoneDetails" >
            <td><img style="height:20%; width:50%"src="{{phone.img}}" alt="{{phone.model}}"></td>
            <td >{{phone.model}}<br></td>
            <td >{{phone.brand}}<br></td>
            <td >{{phone.price}}<br></td>
            <td>  <input type="button" class="showCart" value="Add to cart" ng-click="addToCart($index)"> </td>
          </tr>


        </table>

      </div>
      <div class="clickable">
      </div>

      <div class="shopping-cart">
        <input type="button" style="float:right" class="w3-circle w3-red closeCart" value="X">
        <label class="decoratedText w3-xlarge">Items in the cart</label> <br>
        <ul ng-repeat="phone in cartItems" ng-mouseenter="quantityView()" ng-mouseleave="infoView()">

          <li><img  style="height:50px;width:50px" src="{{phone.img}}" alt="{{phone.model}}"></li>
          <li >{{phone.model}}</li>
          <div class="forHover" ng-show="showToggle">
          <li >{{phone.brand}}</li>
          <li >{{phone.price}}</li>
            </div>
          <li style="border-style:solid">{{phone.count}}&nbsp</li>


          <div class="whileHover" ng-hide="showToggle">
            <input class="w3-btn w3-gray" type="button"  value="+" ng-click="increaseCount($index)">

            <input class="w3-btn w3-gray" type="button"  value="-" ng-click="decreaseCount($index)">
            <input class="w3-circle w3-red" type="button"  value="X" ng-click="removeItem($index)">
          </div>

        </ul>

            <label class="decoratedText w3-xlarge" >Total: {{totalCost}}</label> <br>


      </div>

    </div>
  </body>
</html>
