.item-details{
  float: left;
}

.shopping-cart{
  float:right;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  height: 1000px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}


@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
table{
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;

}

li {
  float: left;
  margin: 0px;
  padding: 5px;
}
.shopping-cart{
  width: 350px;
  display: none;
}



/*
.forHover{
    display: block;
}

.whileHover{
  display: none;
}


.forHover:hover{
    display: none;
}

.whileHover:hover{
  display: inline;
}
*/
